@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$green-primary: #3ebf8a;
$green-primary-hover: #008960;
$white: #FFFFFF;
$red: #E1485B;
$blue: #2856ae;
$blue-focus: #61A8EA;
$blue-hover: #00308D;
$grey: #8C93A3;
$light-grey: #CDD7E5;
$dark-blue: #2b3151;
$main-background: #f6f8fc;

$main-font: 'Inter', sans-serif;
