
.card {
  width: 360px;
  max-width: 100%;
  background-color: $white;
  border: solid 1px $light-grey;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px 48px 32px 48px;

  @media screen and (max-width: 425px) {
    padding: 24px 30px 32px 30px;

  }

}
