
.divider {
  overflow: hidden;
  text-align: center;
  color: $grey;
  font-size: 18px;
  font-weight: 400;

  &:before,
  &:after {
    background-color: $light-grey;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
